Node-Red/Node-Red Flow/flows.json
[{"id":"71249c0e.0d35d4","type":"tab","label":"LED Strip Controller","disabled":false,"info":""},{"id":"64ad6412.9f916c","type":"inject","z":"71249c0e.0d35d4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,0,3,100,0,0,0,0]","payloadType":"bin","x":1910,"y":380,"wires":[["84f48a78.f96768","3812cae8fe9b9187"]]},{"id":"84f48a78.f96768","type":"debug","z":"71249c0e.0d35d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2050,"y":500,"wires":[]},{"id":"ce46367d.ff1988","type":"function","z":"71249c0e.0d35d4","name":"Fixed White Colour","func":"// Code added here will be run once\n// whenever the node is deployed.\n const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const MODE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};\n\nconst CTRL_CMD_ID ={\n  LED_CHANGE : 0\n};\n\nvar channelStats ={\nhue : 0,\nsaturation : 0,\nvalue : 1\n}\n\nswitch (msg.channel) {\n  case \"CHANNEL_1\":\n   global.set(\"channelOne\",channelStats);\n    break;\n  case \"CHANNEL_2\":\n    global.set(\"channelTwo\", channelStats);\n    break;\n  case \"CHANNEL_3\":\n    global.set(\"channelThree\", channelStats);\n    break;\n\n}\n\n\nmsg.baudrate = 115200;\nvar MSG_LEN = 10;\nmsg.payload = new Uint8Array(MSG_LEN);\nmsg.payload[0] = CTRL_CMD_ID.LED_CHANGE;\nmsg.payload[1] = CHANNEL[msg.channel];\nmsg.payload[2] = MODE[msg.mode];\nmsg.payload[3] = COLOUR[msg.colour];\nmsg.payload[4] = msg.brightness;\nmsg.payload[5] = (msg.period & 0xFF000000)>>24;\nmsg.payload[6] = (msg.period & 0x00FF0000)>>16;\nmsg.payload[7] = (msg.period & 0x0000FF00)>>8;\nmsg.payload[8] = (msg.period & 0x000000FF);\nmsg.payload[9] =0;\n\nmsg.payload = Buffer.from(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":320,"wires":[["3812cae8fe9b9187","84f48a78.f96768"]]},{"id":"4939b189.47501","type":"alexa-home","z":"71249c0e.0d35d4","conf":"81461b04.a7b598","device":"192694","acknoledge":true,"name":"Top Shelf","topic":"Workshop","x":260,"y":440,"wires":[["6d74e0bf.ac7a"]]},{"id":"922a1523.6f2a58","type":"alexa-home","z":"71249c0e.0d35d4","conf":"81461b04.a7b598","device":"192695","acknoledge":true,"name":"Bottom Shelf","topic":"Workshop","x":290,"y":620,"wires":[["85c72e9d.8e294"]]},{"id":"b03efcb7.9e3f8","type":"alexa-home","z":"71249c0e.0d35d4","conf":"81461b04.a7b598","device":"183817","acknoledge":true,"name":"Server Light","topic":"Workshop","x":270,"y":240,"wires":[["2e95d157.b9499e"]]},{"id":"2e95d157.b9499e","type":"function","z":"71249c0e.0d35d4","name":"SetChannelOne","func":"msg.channel = \"CHANNEL_1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":240,"wires":[["4ac8310c41f3f102"]]},{"id":"267d281c.02e7c8","type":"switch","z":"71249c0e.0d35d4","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1210,"y":440,"wires":[["275476d4.409a6a"],["68909e06.df90a"],["dfa1856c.25b2f8"],["391cb606.c6ef8a"]]},{"id":"6d74e0bf.ac7a","type":"function","z":"71249c0e.0d35d4","name":"setChannelTwo","func":"msg.channel = \"CHANNEL_2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":440,"wires":[["4d0de42197cf6897"]]},{"id":"85c72e9d.8e294","type":"function","z":"71249c0e.0d35d4","name":"setChannelThree","func":"msg.channel = \"CHANNEL_3\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":620,"wires":[["ca9633d6c94eb25c"]]},{"id":"275476d4.409a6a","type":"function","z":"71249c0e.0d35d4","name":"TurnOn","func":"msg.mode = \"NONE\";\nif(msg.colour == undefined){\n    msg.colour =\"WHITE\";\n}\nif(msg.brightness ==undefined){\n    msg.brightness = 100;\n}\nmsg.period =0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};","finalize":"","libs":[],"x":1420,"y":300,"wires":[["ce46367d.ff1988"]]},{"id":"391cb606.c6ef8a","type":"function","z":"71249c0e.0d35d4","name":"TurnOff","func":"msg.mode = \"NONE\";\nmsg.colour =\"WHITE\";\nmsg.brightness = 0;\nmsg.period =0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":520,"wires":[["ce46367d.ff1988"]]},{"id":"6d48d0e5.93fbb","type":"inject","z":"71249c0e.0d35d4","name":"TurnOffRequest","props":[{"p":"command","v":"TurnOffRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":120,"wires":[["2e95d157.b9499e"]]},{"id":"6c3beac5.895564","type":"inject","z":"71249c0e.0d35d4","name":"TurnOnRequest","props":[{"p":"command","v":"TurnOnRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":80,"wires":[["2e95d157.b9499e"]]},{"id":"d4f2ef36.fb9ec","type":"inject","z":"71249c0e.0d35d4","name":"TurnOffRequest","props":[{"p":"command","v":"TurnOffRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":360,"wires":[["6d74e0bf.ac7a"]]},{"id":"86ac0414.f667d8","type":"inject","z":"71249c0e.0d35d4","name":"TurnOnRequest","props":[{"p":"command","v":"TurnOnRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":320,"wires":[["6d74e0bf.ac7a"]]},{"id":"60ebe3f6.0ed8bc","type":"inject","z":"71249c0e.0d35d4","name":"TurnOffRequest","props":[{"p":"command","v":"TurnOffRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":540,"wires":[["85c72e9d.8e294"]]},{"id":"37da1e98.4b3db2","type":"inject","z":"71249c0e.0d35d4","name":"TurnOnRequest","props":[{"p":"command","v":"TurnOnRequest","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":500,"wires":[["85c72e9d.8e294"]]},{"id":"dfa1856c.25b2f8","type":"function","z":"71249c0e.0d35d4","name":"setColour","func":"// Code added here will be run once\n// whenever the node is deployed.\nconst COLOUR = {\n    RED: 0,\n    GREEN: 1,\n    BLUE: 2,\n    WHITE: 3,\n    ROSE: 4,\n    MAGENTA: 5,\n    VIOLET: 6,\n    AZURE: 7,\n    CYAN: 8,\n    AQUAMARINE: 9,\n    CHARTREUSE: 10,\n    YELLOW: 11,\n    ORANGE: 12\n};\n\n\nconst MODE = {\n    NONE: 0,\n    SINE: 1,\n    SQUARE: 2,\n    TRIANGLE: 3,\n    SAWTOOTH: 4,\n    COLOUR_CHANGE: 5,\n    RGB_CONTROL: 6,\n    HUE_CONTROL: 7\n\n};\n\nconst CHANNEL = {\n    CHANNEL_NS: 0,\n    CHANNEL_1: 1,\n    CHANNEL_2: 2,\n    CHANNEL_3: 3\n\n};\n\n\nconst CTRL_CMD_ID = {\n    LED_CHANGE: 0\n};\n\nvar channelStats;\nswitch (msg.channel) {\n    case \"CHANNEL_1\":\n        channelStats = global.get(\"channelOne\");\n        break;\n    case \"CHANNEL_2\":\n        channelStats = global.get(\"channelTwo\");\n        break;\n    case \"CHANNEL_3\":\n        channelStats = global.get(\"channelThree\");\n        break;\n\n}\n\nmsg.baudrate = 115200;\nmsg.hue = msg.payload.hue;\nmsg.saturation = Math.floor(msg.payload.saturation * 100);\nmsg.value = Math.floor(channelStats.value *100);\n\nvar MSG_LEN = 10;\nmsg.payload = new Uint8Array(MSG_LEN);\nmsg.payload[0] = CTRL_CMD_ID.LED_CHANGE;\nmsg.payload[1] = CHANNEL[msg.channel];\nmsg.payload[2] = MODE.HUE_CONTROL;\nmsg.payload[3] = (msg.hue & 0xFF00) >> 8;\nmsg.payload[4] = (msg.hue & 0x00FF);\nmsg.payload[5] = msg.saturation\nmsg.payload[6] = msg.value\nmsg.payload[7] =0;\nmsg.payload[8] =0;\nmsg.payload[9] =0;\n\nmsg.payload = Buffer.from(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};","finalize":"","libs":[],"x":1420,"y":460,"wires":[["3812cae8fe9b9187","84f48a78.f96768"]]},{"id":"68909e06.df90a","type":"function","z":"71249c0e.0d35d4","name":"setPercentage","func":"// Code added here will be run once\n// whenever the node is deployed.\nconst COLOUR = {\n    RED: 0,\n    GREEN: 1,\n    BLUE: 2,\n    WHITE: 3,\n    ROSE: 4,\n    MAGENTA: 5,\n    VIOLET: 6,\n    AZURE: 7,\n    CYAN: 8,\n    AQUAMARINE: 9,\n    CHARTREUSE: 10,\n    YELLOW: 11,\n    ORANGE: 12\n};\n\n\nconst MODE = {\n    NONE: 0,\n    SINE: 1,\n    SQUARE: 2,\n    TRIANGLE: 3,\n    SAWTOOTH: 4,\n    COLOUR_CHANGE: 5,\n    RGB_CONTROL: 6,\n    HUE_CONTROL: 7\n\n};\n\nconst CHANNEL = {\n    CHANNEL_NS: 0,\n    CHANNEL_1: 1,\n    CHANNEL_2: 2,\n    CHANNEL_3: 3\n\n};\n\nconst CTRL_CMD_ID = {\n    LED_CHANGE: 0\n};\n\nvar channelStats;\nswitch (msg.channel) {\n    case \"CHANNEL_1\":\n        channelStats = global.get(\"channelOne\");\n        break;\n    case \"CHANNEL_2\":\n        channelStats = global.get(\"channelTwo\");\n        break;\n    case \"CHANNEL_3\":\n        channelStats = global.get(\"channelThree\");\n        break;\n    \n}\n\n\nmsg.baudrate = 115200;\nmsg.hue = channelStats.hue;\nmsg.saturation = Math.floor(channelStats.saturation * 100);\nmsg.value = Math.floor(channelStats.value * 100);\n\nvar MSG_LEN = 10;\nmsg.payload = new Uint8Array(MSG_LEN);\nmsg.payload[0] = CTRL_CMD_ID.LED_CHANGE;\nmsg.payload[1] = CHANNEL[msg.channel];\nmsg.payload[2] = MODE.HUE_CONTROL;\nmsg.payload[3] = (msg.hue & 0xFF00) >> 8;\nmsg.payload[4] = (msg.hue & 0x00FF);\nmsg.payload[5] = msg.saturation\nmsg.payload[6] = msg.value\nmsg.payload[7] = 0;\nmsg.payload[8] = 0;\nmsg.payload[9] = 0;\n\nmsg.payload = Buffer.from(msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};","finalize":"","libs":[],"x":1400,"y":400,"wires":[["84f48a78.f96768","3812cae8fe9b9187"]]},{"id":"71c4d488.b1e77c","type":"inject","z":"71249c0e.0d35d4","name":"SetPercentageRequest","props":[{"p":"command","v":"SetPercentageRequest","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":240,"y":160,"wires":[["2e95d157.b9499e"]]},{"id":"1b92dc75.379044","type":"inject","z":"71249c0e.0d35d4","name":"SetPercentageRequest","props":[{"p":"command","v":"SetPercentageRequest","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":240,"y":400,"wires":[["6d74e0bf.ac7a"]]},{"id":"3fdd12bc.29f14e","type":"inject","z":"71249c0e.0d35d4","name":"SetPercentageRequest","props":[{"p":"command","v":"SetPercentageRequest","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":240,"y":580,"wires":[["85c72e9d.8e294"]]},{"id":"3812cae8fe9b9187","type":"serial out","z":"71249c0e.0d35d4","name":"","serial":"58b42172b18f8df7","x":2080,"y":440,"wires":[]},{"id":"0b1470dcccde2f0b","type":"inject","z":"71249c0e.0d35d4","name":"","props":[{"p":"channel","v":"CHANNEL_3","vt":"str"},{"p":"period","v":"1000","vt":"num"},{"p":"mode","v":"SINE","vt":"str"},{"p":"brightness","v":"100","vt":"num"},{"p":"colour","v":"RED","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1430,"y":340,"wires":[["ce46367d.ff1988"]]},{"id":"0b13f40808d43180","type":"change","z":"71249c0e.0d35d4","name":"","rules":[{"t":"set","p":"channelOne.hue","pt":"global","to":"payload.hue","tot":"msg","dc":true},{"t":"set","p":"channelOne.saturation","pt":"global","to":"payload.saturation","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":280,"wires":[["267d281c.02e7c8"]]},{"id":"4ac8310c41f3f102","type":"switch","z":"71249c0e.0d35d4","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"neq","v":"SetColorRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":690,"y":240,"wires":[["443c44dc7138ffb4"],["0b13f40808d43180"],["267d281c.02e7c8"]]},{"id":"443c44dc7138ffb4","type":"function","z":"71249c0e.0d35d4","name":"Set Value","func":"global.set(\"channelOne.value\", msg.payload/100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":240,"wires":[["267d281c.02e7c8"]]},{"id":"46ac5d8c7f336a18","type":"change","z":"71249c0e.0d35d4","name":"","rules":[{"t":"set","p":"channelTwo.hue","pt":"global","to":"payload.hue","tot":"msg","dc":true},{"t":"set","p":"channelTwo.saturation","pt":"global","to":"payload.saturation","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":480,"wires":[["267d281c.02e7c8"]]},{"id":"4d0de42197cf6897","type":"switch","z":"71249c0e.0d35d4","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"neq","v":"SetColorRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":690,"y":440,"wires":[["47acb22e9ee6b626"],["46ac5d8c7f336a18"],["267d281c.02e7c8"]]},{"id":"47acb22e9ee6b626","type":"function","z":"71249c0e.0d35d4","name":"Set Value","func":"global.set(\"channelTwo.value\", msg.payload/100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":440,"wires":[["267d281c.02e7c8"]]},{"id":"7cee412acc828f17","type":"change","z":"71249c0e.0d35d4","name":"","rules":[{"t":"set","p":"channelThree.hue","pt":"global","to":"payload.hue","tot":"msg","dc":true},{"t":"set","p":"channelThree.saturation","pt":"global","to":"payload.saturation","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":660,"wires":[["267d281c.02e7c8"]]},{"id":"ca9633d6c94eb25c","type":"switch","z":"71249c0e.0d35d4","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"SetPercentageRequest","vt":"str"},{"t":"eq","v":"SetColorRequest","vt":"str"},{"t":"neq","v":"SetColorRequest","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":690,"y":620,"wires":[["4191e2fd6aa64782"],["7cee412acc828f17"],["267d281c.02e7c8"]]},{"id":"4191e2fd6aa64782","type":"function","z":"71249c0e.0d35d4","name":"Set Value","func":"global.set(\"channelThree.value\", msg.payload/100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":620,"wires":[["267d281c.02e7c8"]]},{"id":"3fea0ab09e9e713b","type":"tcp in","z":"71249c0e.0d35d4","name":"","server":"server","host":"","port":"6000","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":1900,"y":320,"wires":[["3812cae8fe9b9187","84f48a78.f96768"]]},{"id":"81461b04.a7b598","type":"alexa-home-conf","username":"ScottGibb98"},{"id":"58b42172b18f8df7","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"8","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"}]