Node-Red/src/flows.json
[
  {
    "id": "c2e86ec57f1640e9",
    "type": "tab",
    "label": "LED Strip Controller",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c5ea92d27c275e8d",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[1,0,3,100,0,0,0,0]",
    "payloadType": "bin",
    "x": 1910,
    "y": 380,
    "wires": [["550c7c324ecfbc10", "12580785f3c62276"]]
  },
  {
    "id": "550c7c324ecfbc10",
    "type": "debug",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2050,
    "y": 500,
    "wires": []
  },
  {
    "id": "e0356d09fb23ea22",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Fixed White Colour",
    "func": "// Code added here will be run once\n// whenever the node is deployed.\n const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const MODE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};\n\nconst CTRL_CMD_ID ={\n  LED_CHANGE : 0\n};\n\n// Preserve any previously-set hue/saturation for this channel and\n// only update the stored brightness (value), instead of blindly\n// overwriting the whole colour state to hue:0/saturation:0/value:1\n// every time this runs (that was resetting your percentage/colour\n// back to white/100% on every Turn On or Turn Off).\nvar channelKey;\nswitch (msg.channel) {\n  case \"CHANNEL_1\":\n    channelKey = \"channelOne\";\n    break;\n  case \"CHANNEL_2\":\n    channelKey = \"channelTwo\";\n    break;\n  case \"CHANNEL_3\":\n    channelKey = \"channelThree\";\n    break;\n}\n\nif (channelKey) {\n    var existing = global.get(channelKey) || { hue: 0, saturation: 0, value: 1 };\n    if (msg.brightness !== undefined) {\n        existing.value = msg.brightness / 100;\n    }\n    global.set(channelKey, existing);\n}\n\n\nmsg.baudrate = 115200;\nvar MSG_LEN = 10;\nmsg.payload = new Uint8Array(MSG_LEN);\nmsg.payload[0] = CTRL_CMD_ID.LED_CHANGE;\nmsg.payload[1] = CHANNEL[msg.channel];\nmsg.payload[2] = MODE[msg.mode];\nmsg.payload[3] = COLOUR[msg.colour];\nmsg.payload[4] = msg.brightness;\nmsg.payload[5] = (msg.period & 0xFF000000)>>24;\nmsg.payload[6] = (msg.period & 0x00FF0000)>>16;\nmsg.payload[7] = (msg.period & 0x0000FF00)>>8;\nmsg.payload[8] = (msg.period & 0x000000FF);\nmsg.payload[9] =0;\n\nmsg.payload = Buffer.from(msg.payload)\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1670,
    "y": 320,
    "wires": [["92391814a49e6e23"]]
  },
  {
    "id": "829dbc97e8c499b2",
    "type": "alexa-home",
    "z": "c2e86ec57f1640e9",
    "conf": "81461b04.a7b598",
    "device": "192694",
    "acknoledge": true,
    "name": "Top Shelf",
    "topic": "Workshop",
    "x": 260,
    "y": 440,
    "wires": [["ca51390c687d3ef3"]]
  },
  {
    "id": "dd9fa908e6af07d6",
    "type": "alexa-home",
    "z": "c2e86ec57f1640e9",
    "conf": "81461b04.a7b598",
    "device": "192695",
    "acknoledge": true,
    "name": "Bottom Shelf",
    "topic": "Workshop",
    "x": 290,
    "y": 620,
    "wires": [["290f708ed3a021f7"]]
  },
  {
    "id": "88a71b1ffd054312",
    "type": "alexa-home",
    "z": "c2e86ec57f1640e9",
    "conf": "81461b04.a7b598",
    "device": "183817",
    "acknoledge": true,
    "name": "Server Light",
    "topic": "Workshop",
    "x": 270,
    "y": 240,
    "wires": [["ba9a0df378399749"]]
  },
  {
    "id": "ba9a0df378399749",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "SetChannelOne",
    "func": "msg.channel = \"CHANNEL_1\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 240,
    "wires": [["a05002bc9fb10c70"]]
  },
  {
    "id": "e015cd8c1d08a037",
    "type": "switch",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "property": "command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "TurnOnRequest",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SetPercentageRequest",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SetColorRequest",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "TurnOffRequest",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 1210,
    "y": 440,
    "wires": [
      ["37d828ae917576ee"],
      ["19ba6f8da01b3563"],
      ["403b331035fab816"],
      ["560bea1856c91c8d"]
    ]
  },
  {
    "id": "ca51390c687d3ef3",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "setChannelTwo",
    "func": "msg.channel = \"CHANNEL_2\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 440,
    "wires": [["3352361cac9066ea"]]
  },
  {
    "id": "290f708ed3a021f7",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "setChannelThree",
    "func": "msg.channel = \"CHANNEL_3\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 620,
    "wires": [["640f19d79e7994eb"]]
  },
  {
    "id": "37d828ae917576ee",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "TurnOn",
    "func": "msg.mode = \"NONE\";\nif(msg.colour == undefined){\n    msg.colour =\"WHITE\";\n}\nif(msg.brightness ==undefined){\n    msg.brightness = 100;\n}\nmsg.period =0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 300,
    "wires": [["e0356d09fb23ea22"]]
  },
  {
    "id": "560bea1856c91c8d",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "TurnOff",
    "func": "msg.mode = \"NONE\";\nmsg.colour =\"WHITE\";\nmsg.brightness = 0;\nmsg.period =0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 520,
    "wires": [["e0356d09fb23ea22"]]
  },
  {
    "id": "e7e1d5cf6dc68de4",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "TurnOffRequest",
    "props": [
      {
        "p": "command",
        "v": "TurnOffRequest",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 260,
    "y": 120,
    "wires": [["ba9a0df378399749"]]
  },
  {
    "id": "bca0cf86f89fdbe1",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "TurnOnRequest",
    "props": [
      {
        "p": "command",
        "v": "TurnOnRequest",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 260,
    "y": 80,
    "wires": [["ba9a0df378399749"]]
  },
  {
    "id": "f33db6ba280e22d3",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "TurnOffRequest",
    "props": [
      {
        "p": "command",
        "v": "TurnOffRequest",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 260,
    "y": 360,
    "wires": [["ca51390c687d3ef3"]]
  },
  {
    "id": "3ef1d80974a20ff1",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "TurnOnRequest",
    "props": [
      {
        "p": "command",
        "v": "TurnOnRequest",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 260,
    "y": 320,
    "wires": [["ca51390c687d3ef3"]]
  },
  {
    "id": "b90df2cbd880ecde",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "TurnOffRequest",
    "props": [
      {
        "p": "command",
        "v": "TurnOffRequest",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 260,
    "y": 540,
    "wires": [["290f708ed3a021f7"]]
  },
  {
    "id": "158a1c6733e3a67f",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "TurnOnRequest",
    "props": [
      {
        "p": "command",
        "v": "TurnOnRequest",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 260,
    "y": 500,
    "wires": [["290f708ed3a021f7"]]
  },
  {
    "id": "403b331035fab816",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "setColour",
    "func": "// Code added here will be run once\n// whenever the node is deployed.\nconst COLOUR = {\n    RED: 0,\n    GREEN: 1,\n    BLUE: 2,\n    WHITE: 3,\n    ROSE: 4,\n    MAGENTA: 5,\n    VIOLET: 6,\n    AZURE: 7,\n    CYAN: 8,\n    AQUAMARINE: 9,\n    CHARTREUSE: 10,\n    YELLOW: 11,\n    ORANGE: 12\n};\n\n\nconst MODE = {\n    NONE: 0,\n    SINE: 1,\n    SQUARE: 2,\n    TRIANGLE: 3,\n    SAWTOOTH: 4,\n    COLOUR_CHANGE: 5,\n    RGB_CONTROL: 6,\n    HUE_CONTROL: 7\n\n};\n\nconst CHANNEL = {\n    CHANNEL_NS: 0,\n    CHANNEL_1: 1,\n    CHANNEL_2: 2,\n    CHANNEL_3: 3\n\n};\n\n\nconst CTRL_CMD_ID = {\n    LED_CHANGE: 0\n};\n\nvar channelStats;\nswitch (msg.channel) {\n    case \"CHANNEL_1\":\n        channelStats = global.get(\"channelOne\");\n        break;\n    case \"CHANNEL_2\":\n        channelStats = global.get(\"channelTwo\");\n        break;\n    case \"CHANNEL_3\":\n        channelStats = global.get(\"channelThree\");\n        break;\n\n}\n\nif (!channelStats) {\n    channelStats = { hue: 0, saturation: 0, value: 1 };\n}\n\nmsg.baudrate = 115200;\nmsg.hue = msg.payload.hue;\nmsg.saturation = Math.floor(msg.payload.saturation * 100);\nmsg.value = Math.floor(channelStats.value *100);\n\nvar MSG_LEN = 10;\nmsg.payload = new Uint8Array(MSG_LEN);\nmsg.payload[0] = CTRL_CMD_ID.LED_CHANGE;\nmsg.payload[1] = CHANNEL[msg.channel];\nmsg.payload[2] = MODE.HUE_CONTROL;\nmsg.payload[3] = (msg.hue & 0xFF00) >> 8;\nmsg.payload[4] = (msg.hue & 0x00FF);\nmsg.payload[5] = msg.saturation\nmsg.payload[6] = msg.value\nmsg.payload[7] =0;\nmsg.payload[8] =0;\nmsg.payload[9] =0;\n\nmsg.payload = Buffer.from(msg.payload)\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 460,
    "wires": [["92391814a49e6e23"]]
  },
  {
    "id": "19ba6f8da01b3563",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "setPercentage",
    "func": "// Code added here will be run once\n// whenever the node is deployed.\nconst COLOUR = {\n    RED: 0,\n    GREEN: 1,\n    BLUE: 2,\n    WHITE: 3,\n    ROSE: 4,\n    MAGENTA: 5,\n    VIOLET: 6,\n    AZURE: 7,\n    CYAN: 8,\n    AQUAMARINE: 9,\n    CHARTREUSE: 10,\n    YELLOW: 11,\n    ORANGE: 12\n};\n\n\nconst MODE = {\n    NONE: 0,\n    SINE: 1,\n    SQUARE: 2,\n    TRIANGLE: 3,\n    SAWTOOTH: 4,\n    COLOUR_CHANGE: 5,\n    RGB_CONTROL: 6,\n    HUE_CONTROL: 7\n\n};\n\nconst CHANNEL = {\n    CHANNEL_NS: 0,\n    CHANNEL_1: 1,\n    CHANNEL_2: 2,\n    CHANNEL_3: 3\n\n};\n\nconst CTRL_CMD_ID = {\n    LED_CHANGE: 0\n};\n\nvar channelStats;\nswitch (msg.channel) {\n    case \"CHANNEL_1\":\n        channelStats = global.get(\"channelOne\");\n        break;\n    case \"CHANNEL_2\":\n        channelStats = global.get(\"channelTwo\");\n        break;\n    case \"CHANNEL_3\":\n        channelStats = global.get(\"channelThree\");\n        break;\n    \n}\n\nif (!channelStats) {\n    channelStats = { hue: 0, saturation: 0, value: 1 };\n}\n\n\nmsg.baudrate = 115200;\nmsg.hue = channelStats.hue;\nmsg.saturation = Math.floor(channelStats.saturation * 100);\nmsg.value = Math.floor(channelStats.value * 100);\n\nvar MSG_LEN = 10;\nmsg.payload = new Uint8Array(MSG_LEN);\nmsg.payload[0] = CTRL_CMD_ID.LED_CHANGE;\nmsg.payload[1] = CHANNEL[msg.channel];\nmsg.payload[2] = MODE.HUE_CONTROL;\nmsg.payload[3] = (msg.hue & 0xFF00) >> 8;\nmsg.payload[4] = (msg.hue & 0x00FF);\nmsg.payload[5] = msg.saturation\nmsg.payload[6] = msg.value\nmsg.payload[7] = 0;\nmsg.payload[8] = 0;\nmsg.payload[9] = 0;\n\nmsg.payload = Buffer.from(msg.payload)\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "const COLOUR = {\n  RED : 0,\n  GREEN : 1,\n  BLUE : 2,\n  WHITE : 3,\n  ROSE : 4, \n  MAGENTA : 5,\n  VIOLET : 6,\n  AZURE : 7,\n  CYAN : 8,\n  AQUAMARINE : 9,\n  CHARTREUSE :10,\n  YELLOW : 11,\n  ORANGE : 12\n };\n\n \n const FADE_TYPE ={\n  NONE : 0,\n  SINE : 1,\n  SQUARE : 2,\n  TRIANGLE : 3,\n  SAWTOOTH : 4,\n  COLOUR_CHANGE :5,\n\n};\n\nconst CHANNEL ={\n  CHANNEL_NS : 0,\n  CHANNEL_1 : 1,\n  CHANNEL_2 : 2,\n  CHANNEL_3 : 3\n\n};",
    "finalize": "",
    "libs": [],
    "x": 1400,
    "y": 400,
    "wires": [["92391814a49e6e23"]]
  },
  {
    "id": "fc7e8aa07f097250",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "SetPercentageRequest",
    "props": [
      {
        "p": "command",
        "v": "SetPercentageRequest",
        "vt": "str"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "60",
    "payloadType": "num",
    "x": 240,
    "y": 160,
    "wires": [["ba9a0df378399749"]]
  },
  {
    "id": "e00f692044889e9f",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "SetPercentageRequest",
    "props": [
      {
        "p": "command",
        "v": "SetPercentageRequest",
        "vt": "str"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "60",
    "payloadType": "num",
    "x": 240,
    "y": 400,
    "wires": [["ca51390c687d3ef3"]]
  },
  {
    "id": "d05b82651dc61433",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "SetPercentageRequest",
    "props": [
      {
        "p": "command",
        "v": "SetPercentageRequest",
        "vt": "str"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "60",
    "payloadType": "num",
    "x": 240,
    "y": 580,
    "wires": [["290f708ed3a021f7"]]
  },
  {
    "id": "12580785f3c62276",
    "type": "serial out",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "serial": "47eb0ff05c0fec84",
    "x": 2080,
    "y": 440,
    "wires": []
  },
  {
    "id": "f517d87e6a807d90",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "props": [
      {
        "p": "channel",
        "v": "CHANNEL_3",
        "vt": "str"
      },
      {
        "p": "period",
        "v": "1000",
        "vt": "num"
      },
      {
        "p": "mode",
        "v": "SINE",
        "vt": "str"
      },
      {
        "p": "brightness",
        "v": "100",
        "vt": "num"
      },
      {
        "p": "colour",
        "v": "RED",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1430,
    "y": 340,
    "wires": [["e0356d09fb23ea22"]]
  },
  {
    "id": "846c92b9d41714a1",
    "type": "change",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "channelOne.hue",
        "pt": "global",
        "to": "payload.hue",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "channelOne.saturation",
        "pt": "global",
        "to": "payload.saturation",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 280,
    "wires": [["e015cd8c1d08a037"]]
  },
  {
    "id": "a05002bc9fb10c70",
    "type": "switch",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "property": "command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SetPercentageRequest",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SetColorRequest",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "SetColorRequest",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 690,
    "y": 240,
    "wires": [["a8ce20cc65ae1604"], ["846c92b9d41714a1"], ["e015cd8c1d08a037"]]
  },
  {
    "id": "a8ce20cc65ae1604",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Set Value",
    "func": "global.set(\"channelOne.value\", msg.payload/100);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 240,
    "wires": [["e015cd8c1d08a037"]]
  },
  {
    "id": "6e5ac25efd6026c3",
    "type": "change",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "channelTwo.hue",
        "pt": "global",
        "to": "payload.hue",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "channelTwo.saturation",
        "pt": "global",
        "to": "payload.saturation",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 480,
    "wires": [["e015cd8c1d08a037"]]
  },
  {
    "id": "3352361cac9066ea",
    "type": "switch",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "property": "command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SetPercentageRequest",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SetColorRequest",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "SetColorRequest",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 690,
    "y": 440,
    "wires": [["75c63c3cf953445d"], ["6e5ac25efd6026c3"], ["e015cd8c1d08a037"]]
  },
  {
    "id": "75c63c3cf953445d",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Set Value",
    "func": "global.set(\"channelTwo.value\", msg.payload/100);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 440,
    "wires": [["e015cd8c1d08a037"]]
  },
  {
    "id": "e23851e875d5437f",
    "type": "change",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "channelThree.hue",
        "pt": "global",
        "to": "payload.hue",
        "tot": "msg",
        "dc": true
      },
      {
        "t": "set",
        "p": "channelThree.saturation",
        "pt": "global",
        "to": "payload.saturation",
        "tot": "msg",
        "dc": true
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 660,
    "wires": [["e015cd8c1d08a037"]]
  },
  {
    "id": "640f19d79e7994eb",
    "type": "switch",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "property": "command",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "SetPercentageRequest",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "SetColorRequest",
        "vt": "str"
      },
      {
        "t": "neq",
        "v": "SetColorRequest",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 3,
    "x": 690,
    "y": 620,
    "wires": [["f3d748dc435a0638"], ["e23851e875d5437f"], ["e015cd8c1d08a037"]]
  },
  {
    "id": "f3d748dc435a0638",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Set Value",
    "func": "global.set(\"channelThree.value\", msg.payload/100);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 900,
    "y": 620,
    "wires": [["e015cd8c1d08a037"]]
  },
  {
    "id": "3d6e282cd4ce56ed",
    "type": "tcp in",
    "z": "c2e86ec57f1640e9",
    "name": "",
    "server": "server",
    "host": "",
    "port": "6000",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 1900,
    "y": 320,
    "wires": [["12580785f3c62276", "550c7c324ecfbc10"]]
  },
  {
    "id": "a427aae53115652b",
    "type": "mqtt out",
    "z": "c2e86ec57f1640e9",
    "name": "MQTT Publish",
    "topic": "",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "e7d25e0ec898c623",
    "x": 2120,
    "y": 940,
    "wires": []
  },
  {
    "id": "15ccb3cb98973496",
    "type": "inject",
    "z": "c2e86ec57f1640e9",
    "name": "Publish HA Discovery",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 3,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 300,
    "y": 940,
    "wires": [["47225205a95c1dfa"]]
  },
  {
    "id": "47225205a95c1dfa",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Build HA Discovery Payloads",
    "func": "var devices = [\n    { id: \"server_light\", name: \"Server Light\" },\n    { id: \"top_shelf\", name: \"Top Shelf\" },\n    { id: \"bottom_shelf\", name: \"Bottom Shelf\" }\n];\n\nvar msgs = devices.map(function (d) {\n    var config = {\n        name: d.name,\n        unique_id: \"led_\" + d.id,\n        schema: \"json\",\n        command_topic: \"home/light/\" + d.id + \"/set\",\n        state_topic: \"home/light/\" + d.id + \"/state\",\n        brightness: true,\n        supported_color_modes: [\"hs\"],\n        qos: 0,\n        device: {\n            identifiers: [\"led_strip_controller\"],\n            name: \"LED Strip Controller\",\n            manufacturer: \"DIY\"\n        }\n    };\n    return {\n        topic: \"homeassistant/light/\" + d.id + \"/config\",\n        payload: JSON.stringify(config),\n        retain: true\n    };\n});\n\nreturn [msgs];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 940,
    "wires": [["a427aae53115652b"]]
  },
  {
    "id": "139efbaa6fcaca4f",
    "type": "mqtt in",
    "z": "c2e86ec57f1640e9",
    "name": "Server Light MQTT Set",
    "topic": "home/light/server_light/set",
    "qos": "2",
    "datatype": "json",
    "broker": "e7d25e0ec898c623",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 300,
    "y": 760,
    "wires": [["7bc4883071222f24"]]
  },
  {
    "id": "7bc4883071222f24",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Translate MQTT (Server Light)",
    "func": "var payload = msg.payload;\nif (typeof payload !== \"object\" || payload === null) {\n    node.warn(\"MQTT: payload was not a JSON object\");\n    return null;\n}\n\nvar cmds = [];\n\nif (payload.state !== undefined) {\n    cmds.push({\n        command: (payload.state === \"ON\") ? \"TurnOnRequest\" : \"TurnOffRequest\",\n        channel: \"CHANNEL_1\"\n    });\n}\n\nif (payload.color !== undefined) {\n    cmds.push({\n        command: \"SetColorRequest\",\n        channel: \"CHANNEL_1\",\n        payload: { hue: payload.color.h, saturation: payload.color.s / 100 }\n    });\n}\n\nif (payload.brightness !== undefined) {\n    cmds.push({\n        command: \"SetPercentageRequest\",\n        channel: \"CHANNEL_1\",\n        payload: Math.round((payload.brightness / 255) * 100)\n    });\n}\n\nreturn [cmds];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 760,
    "wires": [["a05002bc9fb10c70"]]
  },
  {
    "id": "60409c32afa9029e",
    "type": "mqtt in",
    "z": "c2e86ec57f1640e9",
    "name": "Top Shelf MQTT Set",
    "topic": "home/light/top_shelf/set",
    "qos": "2",
    "datatype": "json",
    "broker": "e7d25e0ec898c623",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 290,
    "y": 800,
    "wires": [["9776b97533bb6861"]]
  },
  {
    "id": "9776b97533bb6861",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Translate MQTT (Top Shelf)",
    "func": "var payload = msg.payload;\nif (typeof payload !== \"object\" || payload === null) {\n    node.warn(\"MQTT: payload was not a JSON object\");\n    return null;\n}\n\nvar cmds = [];\n\nif (payload.state !== undefined) {\n    cmds.push({\n        command: (payload.state === \"ON\") ? \"TurnOnRequest\" : \"TurnOffRequest\",\n        channel: \"CHANNEL_2\"\n    });\n}\n\nif (payload.color !== undefined) {\n    cmds.push({\n        command: \"SetColorRequest\",\n        channel: \"CHANNEL_2\",\n        payload: { hue: payload.color.h, saturation: payload.color.s / 100 }\n    });\n}\n\nif (payload.brightness !== undefined) {\n    cmds.push({\n        command: \"SetPercentageRequest\",\n        channel: \"CHANNEL_2\",\n        payload: Math.round((payload.brightness / 255) * 100)\n    });\n}\n\nreturn [cmds];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 800,
    "wires": [["3352361cac9066ea"]]
  },
  {
    "id": "4b8493826f414328",
    "type": "mqtt in",
    "z": "c2e86ec57f1640e9",
    "name": "Bottom Shelf MQTT Set",
    "topic": "home/light/bottom_shelf/set",
    "qos": "2",
    "datatype": "json",
    "broker": "e7d25e0ec898c623",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 300,
    "y": 840,
    "wires": [["eb3196b1183da40f"]]
  },
  {
    "id": "eb3196b1183da40f",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Translate MQTT (Bottom Shelf)",
    "func": "var payload = msg.payload;\nif (typeof payload !== \"object\" || payload === null) {\n    node.warn(\"MQTT: payload was not a JSON object\");\n    return null;\n}\n\nvar cmds = [];\n\nif (payload.state !== undefined) {\n    cmds.push({\n        command: (payload.state === \"ON\") ? \"TurnOnRequest\" : \"TurnOffRequest\",\n        channel: \"CHANNEL_3\"\n    });\n}\n\nif (payload.color !== undefined) {\n    cmds.push({\n        command: \"SetColorRequest\",\n        channel: \"CHANNEL_3\",\n        payload: { hue: payload.color.h, saturation: payload.color.s / 100 }\n    });\n}\n\nif (payload.brightness !== undefined) {\n    cmds.push({\n        command: \"SetPercentageRequest\",\n        channel: \"CHANNEL_3\",\n        payload: Math.round((payload.brightness / 255) * 100)\n    });\n}\n\nreturn [cmds];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 840,
    "wires": [["640f19d79e7994eb"]]
  },
  {
    "id": "92391814a49e6e23",
    "type": "function",
    "z": "c2e86ec57f1640e9",
    "name": "Publish State to HA",
    "func": "const CHANNEL_MAP = {\n    CHANNEL_1: { id: \"server_light\", key: \"channelOne\" },\n    CHANNEL_2: { id: \"top_shelf\", key: \"channelTwo\" },\n    CHANNEL_3: { id: \"bottom_shelf\", key: \"channelThree\" }\n};\n\nvar info = CHANNEL_MAP[msg.channel];\nif (!info) {\n    // Not one of our HA-tracked channels (e.g. a raw test inject) -\n    // just forward to serial, nothing to publish.\n    return [msg, null];\n}\n\nvar stats = global.get(info.key) || { hue: 0, saturation: 0, value: 0 };\n\nvar brightness255 = Math.max(0, Math.min(255, Math.round((stats.value || 0) * 255)));\n\nvar statePayload = {\n    state: brightness255 > 0 ? \"ON\" : \"OFF\",\n    brightness: brightness255,\n    color: {\n        h: stats.hue || 0,\n        s: Math.max(0, Math.min(100, Math.round((stats.saturation || 0) * 100)))\n    }\n};\n\nvar stateMsg = {\n    topic: \"home/light/\" + info.id + \"/state\",\n    payload: JSON.stringify(statePayload),\n    retain: true\n};\n\nreturn [msg, stateMsg];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1830,
    "y": 460,
    "wires": [["12580785f3c62276", "550c7c324ecfbc10"], ["a427aae53115652b"]]
  },
  {
    "id": "81461b04.a7b598",
    "type": "alexa-home-conf",
    "username": "ScottGibb98"
  },
  {
    "id": "47eb0ff05c0fec84",
    "type": "serial-port",
    "serialport": "/dev/ttyACM0",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "8",
    "bin": "bin",
    "out": "count",
    "addchar": "",
    "responsetimeout": "10000"
  },
  {
    "id": "e7d25e0ec898c623",
    "type": "mqtt-broker",
    "name": "Home Assistant MQTT",
    "broker": "192.168.0.68",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "238349b2cd2709e1",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-alexa-home-skill": "0.1.20",
      "node-red-node-serialport": "0.15.0"
    }
  }
]
